.slider {
    position: relative;
}

.slider-item {
    position: relative;
    height: calc(100vh - 137px);
    display: flex;
    align-items: center;
}

.slider-item .slider-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 60%;
    z-index: -1;
}

.slider-item .slider-title {
    font-size: 18px;
    font-weight: 500;
}

.slider-item .slider-desc {
    font-size: 60px;
    font-weight: 600;
}

.slider .slider-buttons {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


.slider-dot {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.slider .slider-buttons button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #dee0ea;
    background-color: #dee0ea;
    opacity: 0.5;
}

.slider .slider-buttons button i {
    font-size: 30px;
}

.slider-buttons button:hover {
    opacity: 1;
}

.slider .slider-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 7px;
}

.slider .slider-dots .slider-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #1367ef;
    border-radius: 100%;
    opacity: 0.4;
}

.slider .slider-dots .slider-dot span:hover {
    opacity: 1;
    transition: ease .2s all;
}


@media (max-width: 768px) {
    .slider-item {
        height: calc(100vh - 130px);
        text-align: center;
    }

    .slider-buttons button {
        display: none;
    }
}

@media (max-width: 656px) {
    .slider-item .slider-desc {
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: 600;
    }
}

@media (max-width: 450px) {
    .slider-item .slider-desc {
        font-size: 40px;
        font-weight: 600;
        padding: 0 6px;
    }

    .slider-item .slider-title {
        padding: 0 6px;
    }
}