.kampanya-area{
    padding-bottom: 40px;
}

.kampanya-area .kampanya-item {
    padding: 70px 35px;
    background-size: cover;
    background-position: center;
    flex: 1;
    color: rgb(241, 240, 240);
}

.kampanya-area .kampanya-item .kampanya-title {
    font-size: 26px;
    font-weight: 600;
}

.kampanya-area .kampanya-item .kamp-desc {
    margin: 25px 0;
    font-size: 14px;
}

.k-btn {
    display: inline-block;
    cursor: pointer;
    line-height: 32px;
    padding: 0 15px;
    border-radius: 7px;
    font-weight: 500;
    background-color: #3879db;
    color: white;
}

.k-btn:hover {
    background-color: #2365c7;
    transition: 0.2s all ease;
}

.kampanya-wrapper:nth-child(1)
.kampanya-item:nth-child(1) {
    background-image: url(../../img/kampanya/images\ \(1\)copy.png);
}

.kampanya-wrapper:nth-child(1)
.kampanya-item:nth-child(2) {
    background-image: url(../../img/kampanya/images2copy.png);
    flex: 2;
}

.kampanya-wrapper:nth-child(2)
.kampanya-item:nth-child(1) {
    background-image: url(../../img/kampanya/images3copy.png);
    flex: 2;
}

.kampanya-wrapper:nth-child(2)
.kampanya-item:nth-child(2) {
    background-image: url(../../img/kampanya/images3copy.png);
}


@media (max-width: 768px) {
    .kampanya-area .kampanya-item {
        width: 100%;
        flex: unset !important;
        text-align: center;
    }
}

@media (max-width: 820px) {
    .kampanya-area .kampanya-item {
        width: 100%;
        flex: unset !important;
        text-align: center;
    }
}

@media (max-width: 844px) {
    .kampanya-item{
        width: 100%;
        flex: unset !important;
        text-align: center;
    }

    .kampanya-wrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}