.modal-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.3s ease all;
}

.modal-search::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}


.modal-wrapper {
    max-width: 800px;
    width: 100%;
    padding: 30px;
    background-color: white;
    position: fixed;
    border-radius: 7px;
    z-index: 1;
}


.modal-search .modal-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

.modal-search .search-thumb {
    max-width: 80px;
    width: 100%;
}

.modal-search .modal-text {
    font-size: 14px;
    font-weight: 600;
    color: #7a7a7a;
    padding-bottom: 15px;
}

.modal-search .search-form {
    margin-top: 12px;
    display: flex;
    position: relative;
}


.modal-search .search-form input {
    border: #7a7a7a 1px solid;
    width: 100%;
    max-height: 40px;
}

.modal-search .search-results {
    margin-top: 30px;
}

.modal-search .search-info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.modal-search .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #dee0ea;
    border-radius: 5px;
}

.modal-search .result-item {
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dee0ea;
    border-right: 1px solid #dee0ea;
    transition: .2s ease all;
}

.modal-search .result-item:hover {
    background-color: #f9f9f9;
}

.modal-search .search-form button {
    position: absolute;
    right: 0;
    height: 37px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee0ea;
    cursor: pointer;
}

.modal-search .search-sku {
    margin: 2px 0;
    color: #7a7a7a;
}

.modal-search .search-price {
    font-weight: 600;
    color: coral;
}

.modal-search .bi-x {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}

.modal-search .search-stars {
    color: rgb(255, 187, 0);
}



@media (max-width: 992px) {

    .modal-search .modal-wrapper {
        max-width: 370px;
    }

    .modal-search .results {
        grid-template-columns: 1fr;
    }
}