.brands {
    margin: 35px 0;
    background-color: rgb(245, 245, 245);
}

.brands-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.brnds-img{
    border-radius: 50%;
}

.brnds-img:hover{
    cursor: pointer;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px #888888;
}