.login-wrapper {
    padding-top: 200px;
    text-align: center;
}









@media (max-width: 768px) {
   .login-wrapper{
    text-align: center;
    justify-content: center;
    align-items: center;
   }
}