.contact-form {
    padding: 25px;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
}

.contact .contact-bottom {
    margin: 30px 0;
}

.contact-bottom h4 {
    color: #1367EF;
    font-weight: 500;
}

.contact-bottom h2 {
    font-weight: 800;
}

.contact-bottom p {
    font-size: 14px;
}

.contact-elements {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 100px;
}

.contact-bottom .contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-bottom .contact-form>div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    font-size: 14px;
    row-gap: 5px;
}

.contact-bottom .contact-form>div:nth-child(4) {
    flex-basis: 100%;
}

.contact-info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contact-info-text {
    display: flex;
    flex-direction: column;
}

.contact-info-item .street {
    margin: 10px 0;
}

.social-icons i {
    padding: 20px;
    font-size: 30px;
}

i.bi-youtube:hover {
    color: red;
}

i.bi-facebook:hover {
    color: #0866FF;
}

i.bi-instagram:hover {
    color: #F602CC;
}

i.bi-linkedin:hover {
    color: #0274B3;
}

.supbtn-lg {
    line-height: 39px;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 0 20px;
}

.supbtn-lg:hover {
    background-color: rgb(15, 15, 15);
    transition: 0.2s all;
    transition-duration: 300;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .contact-elements {
        flex-direction: column;
        gap: 50px !important;
    }

    .contact-bottom {
        text-align: center;
    }
}