.support .support-top {
    background-color: rgb(158, 224, 250);
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 17px;
}


.support-top h1 {
    font-weight: 900;
    font-size: 35px;
    color: rgb(19, 95, 156);
}

.support-top p {
    font-size: 17px;
    color: rgb(19, 95, 156);
    font-weight: 400;
}


.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 100%;
    margin: auto;

}

.faq-item h1{
    font-weight: 700;
    font-size: 19px;
}

.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body p {
    padding: 20px;
    width: 100%;
}

.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    font-size: 13px;
    background-color: rgb(233, 233, 233);
    padding: 7px;
    border-radius: 100%;
    color: #000000;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    background-color: rgb(211, 211, 211);
    color: white;
}